 {% extends "base.html" %}

 {% block content %}
 {% include 'flash.html' %}
        <br />
        <h2>Add Song</h2>
        <br />

 <form action="" method="post" name="post" id="form" style= "display:block">
      {{form.hidden_tag()}}
      <table>
          <tr class="spaceUnder">
              <td>Song name:</td>
              <td>{{ form.name(size=30, maxlength=140) }}</td>
              <td>
              {% for error in form.name.errors %}
              <span style="color: red;">[{{ error }}]</span><br>
              {% endfor %}
              </td>
          </tr>
          <tr class="spaceUnder">
              <td>Ragam:</td>
              <td>{{ form.ragam(size=30, maxlength=140) }}</td>
              <td>
              {% for error in form.ragam.errors %}
              <span style="color: red;">[{{ error }}]</span><br>
              {% endfor %}
              </td>
          </tr >
          <tr class="spaceUnder">
              <td>Talam:</td>
              <td>{{ form.talam(size=30, maxlength=140) }}</td>
              <td>
              {% for error in form.talam.errors %}
              <span style="color: red;">[{{ error }}]</span><br>
              {% endfor %}
              </td>
          </tr >
          <tr class="spaceUnder">
              <td>Artist:</td>
              <td>{{ form.artist(size=30, maxlength=140) }}</td>
              <td>
              {% for error in form.artist.errors %}
              <span style="color: red;">[{{ error }}]</span><br>
              {% endfor %}
              </td>
          </tr>
          <tr class="spaceUnder">
              <td>Link to Song:</td>
              <td>{{ form.link(size=30, maxlength=140) }}</td>
              <td>
              {% for error in form.link.errors %}
              <span style="color: red;">[{{ error }}]</span><br>
              {% endfor %}
              </td>
          </tr>
          <tr>
              <td></td>
              <td><button type="submit" class="btn btn-primary">Add</button></td>
              <td></td>
          </tr>
      </table>
  </form


{% endblock %}