<!-- extend base layout -->
{% extends "base.html" %}

{% block content %}


<div class="jumbotron">
    <div class="container">
        <h1>Welcome!</h1>
        <p>Some filler text that makes this look cool</p>
        <br>
        <p><a class="btn btn-primary btn-lg" href="{{url_for('add')}}" role="button">Add Songs Now »</a> <a class="btn btn-primary btn-lg" href="{{url_for('sorted_by')}}" role="button">Find Songs»</a></p>
    </div>
</div>
{% include 'flash.html' %}


<table class = "table table-striped table-hover">
   <caption>Songs</caption>
   
   <thead>
      <tr>
         <th>Name</th>
         <th>Ragam</th>
         <th>Talam</th>
         <th>Artist</th>
         <th></th>
      </tr>
   </thead>
   
   <tbody>
    {% for song in songs %}
    <tr>
        <td><a target= "_blank" href = "{{song.link}}">{{song.name}}</a></td>
        <td>{{ song.ragam }}</td>
        <td>{{ song.talam }}</td>
        <td>{{ song.artist }}</td>
        <td><a class="btn btn-primary" href= "{{ url_for('.edit', song_id=song.id)}}" role="button"> Edit </a></td>
    </tr>
    {% endfor %}
      
   </tbody>
   
</table>

    
{% endblock %}
